.small-header {
  background: url('../images/background.jpg') no-repeat center center;
  background-size: auto;
}

.small-header-box {
  padding: 100px 20px 50px;

  .page-title {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    color: $white;

  }

  > a {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    img {
      height: 40px;
    }
  }
}
